:root {
    --primary: #1fbeff;
    --secondary: #154153;

    --button: var(--primary);
    --bg: #c4ebff;
    --borders: #6e8a98;
}

.p1 {
    color: var(--primary);
}

.p2 {
    color: var(--secondary);
}

.grid {
    display: flex;                       /* establish flex container */
    flex-wrap: wrap;                     /* enable flex items to wrap */
    justify-content: space-around;
    width: 18rem;
    height: 18rem;
}

.square {
    flex: 0 0 33%;
    width: 6rem;
    height: 6rem;
    border: none;
    background: none;
    font-weight: bolder;
    font-size: 4rem;
    font-family: sans-serif;
}

.square:focus {
    outline: none;
    border:none
}

.b-r-bord {
    box-shadow: .08rem .08rem 0 .08rem var(--borders);
}

.r-bord {
    box-shadow: .16rem 0 0 0 var(--borders);
}

.b-bord {
    box-shadow: 0 .16rem 0 var(--borders);
}

#game-message {
    padding: .75rem .75rem 0 ;
    font-weight: bold;
}

#reset {
    width: 100%;
    height: 1.5rem;
    border: none;
    vertical-align: center;
    background: var(--button);
    color: white;
    line-height: .75rem; /* half of height */
    font-weight: lighter;
    margin-top: 1rem;
}

#reset:focus {
    outline: none;
    border:none
}

body {
    background: var(--bg);
    color: var(--secondary);
    font-family: Montserrat, sans-serif;
}

hr {
    padding: 0;
    margin: 0 0 1rem;
}